public class Secret  {
    static public string PublicKey {
        get { return "dreamlo.com Public Key"; }
    }

    static public string PrivateKey {
        get { return "dreamlo.com Private Key"; }
    }
}
